    <div class="event" >
                <div class="content">
                <div class="summary">
                <em><%= message.user.name %></em>: <%= message.body %>
                </div>
                </div>
            </div>